body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    border-radius: 2px;
}

.button-center {
  text-align: center;
}

button {
  margin-top: 5px;
  background-color: #5f9341;
  color: white;
  border: 1px solid #5f9341;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: 0.3s;
}

.deleteOne-btn {
  background: transparent;
  color: #537e3b;
  padding: 3px;
  border: none;
  margin-right: 4px;
  margin-top: 4px;
}

.deleteOne-btn:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: black;
}

#delete-btn {
  background: white;
  color: #5f9341;
}

#delete-btn:hover {
  color: #537e3b;
}

button:hover {
  background-color: #537e3b;
  border-color: #537e3b;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-top: 5px;
  display: flex;
  align-items: center;
  word-break: break-word;
}

li a {
  color: #5f9341;
}
